@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0px;
    padding: 0px;
    background: #0d1420;
    font-family: "Raleway", sans-serif;
}
nav{
    background: black;
    padding: 20px;
    display: flex;
    z-index: 1;
}
nav .pages{
    background-color: black;
    margin: 0px 10px;
}
nav .home{
    margin-left: 50px;
}
nav .pages a{
    text-decoration: none;
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 5px 7px;
}
nav .pages a:hover{
    background-color: aliceblue;
    color: black;
}
nav .clock a{
    color: rgb(0, 144, 144);
}
nav .hamburger{
    margin: 0;
    position: absolute;
    top: 80px;
    z-index: 1;
    font-size: 30px;
}
nav i{
    color: aliceblue;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s; 
  }
  .sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    background-color: #111;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidenav .clockLink{
    color: rgb(0, 144, 144);
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.container{
    z-index: 0;
    display: flex;
    height: 70vh;
    width: auto;
    align-items: center;
    justify-content: center;
}
.lottie{
    height: 500px;
    width: 500px;
}
.dateTime{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.txt{
    font-family: sans-serif;
}
#time{
    margin: 10px;
    color: aliceblue;
    font-size: 70px;
    box-shadow: 0 0 20px rgb(0, 177, 177);
    border-radius: 20px;
    padding: 10px 10px;
    margin-bottom: 20px;
}
#date, #day{
    color: rgb(197, 204, 210);
    font-size: 40px;
    margin-left: 10px;
}

footer{
    max-width: 100%;
    margin: 92px 0px 0px 0px;
    padding: 20px;
    background-color: rgb(0, 144, 144);
    color: black;
    text-align: center;
    font-family: sans-serif;
}

@media screen and (max-width: 1000px){
    .lottie{
        height: 300px;
        width: 300px;
    }
    #time{
        font-size: 46px;
    }
    #date, #day{
        font-size: 37px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 600px){
    .container{
        height: 72vh;
        flex-direction: column;
    }

    footer{
        padding: 15px;
        font-size: 14px;
    }
}
@media screen and (max-width:425px){
    nav{
        padding: 10px;
    }
    nav .pages{
        margin: 0px 5px;
    }
    nav .hamburger{
        top: 60px;
        font-size: 25px;
    }
    nav .home{
        margin-left: 10px;
    }
    nav .pages a{
        font-size: 18px;
        border: none;
        padding: 4px 5px;
    }
    .sidenav a{
        font-size: 20px;
    }
    .container{
        height: 70vh;
    }
    #date, #day{
        font-size: 28px;
        margin-left: 10px;
    }
    footer{
        margin-top: 155px;
        padding: 10px;
        font-size: 10px;
    }
}