@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Mono:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    background: #0d1420;
    font-family: "Raleway", sans-serif;
}
nav{
    background: black;
    padding: 20px;
    display: flex;
}
nav .pages{
    background-color: black;
    margin: 0px 10px;
}
nav .hamburger{
    margin: 0;
    position: absolute;
    top: 80px;
    z-index: 1;
    font-size: 30px;
}
nav i{
    color: aliceblue;
}
nav .home{
    margin-left: 40px;
}
nav .pages a{
    text-decoration: none;
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 5px 7px;
}
nav .pages a:hover{
    background-color: aliceblue;
    color: black;
}
nav .clock a{
    color: rgb(0, 144, 144);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s; 
  }
  .sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    background-color: #111;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidenav .stopwatchLink{
    color: rgb(0, 144, 144);
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.container{
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: auto;
    align-items: center;
    justify-content: center;
    transition: margin-left .5s;
}
.time{
    font-size: 100px;
    font-family: sans-serif;
    color: aliceblue;
    padding: 0px 20px;
    border: 0;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgb(0, 144, 144, 0.25);
}
.laptime{
    font-size: 30px;
    font-family: sans-serif;
    color: aliceblue;
    padding: 5px 10px;
    border: 0;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgb(0, 144, 144, 0.25);
}
.redglow{
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.7);
}
.btn{
    padding: 10px 20px;
    margin: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 18px;
    background: rgb(0, 144, 144);
    border: 0;
    border-radius: 13px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.btn:hover{
    background: rgb(0, 96, 96);
}
.stop{
    background-color: red;
}
.stop:hover{
    background-color: rgb(131, 0, 0);
}
.reset{
    background-color: rgb(71, 71, 71);
}
.reset:hover{
    background-color: rgb(0, 0, 0);
}
#table{
    height: 150px;
    width: 50%;
    margin-top: 30px;
    overflow-y: scroll;
}
table{
    color: aliceblue;
    width: 100%;
    font-size: 20px;
    text-align: center;
}
th{
    padding: 10px;
}
td{
    font-family: sans-serif;
}
.invisible{
    display: none;
}
footer{
    max-width: 100%;
    margin-top: 70px;
    padding: 20px;
    background-color: rgb(0, 144, 144);
    color: black;
    text-align: center;
    font-family: sans-serif;
}

@media screen and (max-width: 640px){
    .time{
        font-size: 60px;
        padding: 0px 20px;
        border-radius: 20px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .laptime{
        font-size: 30px;
        padding: 5px 10px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    #table{
        width: 75%;
        margin-top: 20px;
    }
    footer{
        padding: 15px;
        font-size: 14px;
    }
}
@media screen and (max-width:425px){
    nav{
        padding: 10px;
    }
    nav .pages{
        margin: 0px 5px;
    }
    nav .hamburger{
        top: 60px;
        font-size: 25px;
    }
    nav .home{
        margin-left: 10px;
    }
    nav .pages a{
        font-size: 18px;
        padding: 4px 5px;
    }
    .sidenav a{
        padding: 8px 8px 8px 32px;
        font-size: 20px;
    }
    .time{
        font-size: 45px;
        padding: 0px 20px;
        border-radius: 20px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .laptime{
        font-size: 25px;
        padding: 5px 10px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    #table{
        width: 80%;
    }
    table{
        font-size: 16px;
    }

    footer{
        margin-top: 130px;
        padding: 10px;
        font-size: 10px;
    }
}