@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0px;
    padding: 0px;
    background: #0d1420;
    font-family: "Raleway", sans-serif;
}
nav{
    background: black;
    padding: 20px;
    display: flex;
}
nav .pages{
    background-color: black;
    margin: 0px 10px;
}
nav .hamburger{
    margin: 0;
    position: absolute;
    top: 80px;
    z-index: 1;
    font-size: 30px;
}
nav i{
    color: aliceblue;
}
nav .home{
    margin-left: 50px;
}
nav .pages a{
    text-decoration: none;
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 5px 7px;
}
nav .pages a:hover{
    background-color: aliceblue;
    color: black;
}
.sidenav {
    height: 75vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 64px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s; 
  }
  .sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    background-color: #111;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.container{
    display: flex;
    height: 70vh;
    width: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timer{
    display: flex;
    align-items: last baseline;
    justify-content: center;
    color: aliceblue;
    font-size: 30px;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(0, 144, 144, 0.25);
}
.timer span{
    margin: 0px 10px;
    font-size: 50px;
}
.part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.part input{
    width: 100px;
    text-align: center;
    font-size: 70px;
    border: 0;
    color: aliceblue;
}
.parts{
    height: 25%;
}
.timer button{
    border: 0;
    color: aliceblue;
    background-color: rgb(0, 144, 144);
    padding: 5px 10px;
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

footer{
    max-width: 100%;
    margin: 92px 0px 0px 0px;
    padding: 20px;
    background-color: rgb(0, 144, 144);
    color: black;
    text-align: center;
    font-family: sans-serif;
}

@media screen and (max-width: 1064px){
    footer{
        margin-top: 100px;
    }
}

@media screen and (max-width: 600px){
    footer{
        padding: 15px;
        font-size: 14px;
    }
}
@media screen and (max-width:420px){
    nav{
        padding: 12px;
    }
}